<div class='mx-auto' style='width: 80%'>
    <div class='mx-auto mt-4 ml-4'>
        <h4>Über uns...</h4>

        <br>

        <p class='text-left font-weight-normal'>
            Diese Webseite entstand im Rahmen des standortübergreifenden Moduls <strong>Objektorientierte
            Skriptsprachenals der FH Brandenburg unter Leitung von Prof. Dr. Thomas Preuss im SS18</strong>. Ziel war
            die Erstellung einer im Kern auf dem Framework Django beruhenden Webseite zur Berechnung und grafischer
            Aufbereitung statistischer Werte für frei eingebbare Daten.<br><br>

            <strong>Clientseitig</strong> handelt es sich bei dieser Anwendung um eine Single Page Application. Hierbei
            wird zu Anfang nur eine Seite geladen, weiterer Content jedoch dynamisch aktualisiert und nachgeladen. Als
            Techniken und Sprechen kommen HTML5, JavaScript, CSS sowie JQuery und Bootstrap zum Einsatz.<br><br>

            <strong>Serverseitig</strong> kommt das auf Python basierende Framework Python mit einigen weiteren Paketen
            zum Einsatz. Besonders möchten wir hier auf Seaborn zur Erzeugung von Grafiken und OpenPyXL zum Zugriff auf
            Excel hinweisen.<br><br>

            Für Fragen und Anmerkungen können sie uns gerne kontaktieren:<br><br>

            <strong>Helmut Brünen</strong><br>
            Gelsbach 9<br>
            48477 Hörstel-Riesenbeck<br>
            <br>
            <strong>Christian Kitte</strong><br>
            Lange Strasse 67<br>
            49080 Osnabrück

            <br><br>

            <strong>Hörstel / Osnabrück Juni 2018</strong>
        </p>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>