<div class='mx-auto' style='width: 80%'>
    <div class='mx-auto mt-4 ml-4'>
        <h4>Willkommen</h4>

        <br>

        <p class='text-left font-weight-normal'>
            Auf den Seiten von <strong>StatWorker</strong> haben sie die Möglichkeit, eine statistische Auswertung über
            ihre Daten zu erhalten. Sie können dabei wahlweise die Daten direkt eingeben, oder aber eine Datei mit ihren
            Daten hochladen. Aktuell werden CSV- sowie Exceldateien unterstützt.
        </p>

        <a href="#" class="btn btn-primary"
           onclick="getPage('compute','content','navbarNav')">Ausprobieren</a>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>